/*! 
 *   TLT v1.0
 *   Author: Vivin Antony
 *   Website: www.thelittletechie.blogspot.com
*/

/* faq.jsp */
.header-bg { background-color: #1C9B9D }
.faq-page h3 { color: #048284 }
.faq-page p { font-size: 16px; color:#000 }
.faq-page .questions { color: #1C9B9D; font-size: 18px }
.faq-page .answers { color: #000; font-size: 16px }