/*! 
 *   TLT v1.0
 *   Author: Vivin Antony
 *   Website: www.thelittletechie.blogspot.com
*/

/* filter.jsp */
/* Abbr: s-d source-destination; r-c(n) right-column(num) */
.filter-page { font-size: 16px }
.filter-page .filter-box { background-color: rgba(0,0,0,0.6); color: #fff }
.filter-page .filter-box h4 { font-size: 18px; color: #ddd; background-color: #222; padding: 5px }
.filter-page .main-box { background-color: rgba(238,238,238,1); padding: 10px; min-height: 400px }
.filter-page .main-box .left-box { border-right: 1px solid #999 }
.filter-page .main-box .right-box { border-left: 1px solid #999 }
.filter-page .inner-box { background-color: #fff; padding: 5px 0; margin: 0 0 10px 0 }
.filter-page .main-box .r-c1, .r-c2, .r-c3 { text-align: center; font-size: 16px }
.filter-page .main-box .r-c1 { color: #448ccb }
.filter-page .main-box .r-c2 { color: #e60505 }
.filter-page .main-box .r-c3 { color: #56d784 }
.filter-page .main-box .left-box .circle { width: 50px; height: 50px; background-color: #56d784; border-radius: 50px; color: #fff; text-align: center; line-height: 50px }
.filter-page .main-box .left-box .photo-container { width: 95px; height: 95px; line-height: 95px; background-color: #eee; text-align: center; }
.filter-page .main-box .left-box .photo-container i { font-size: 94px; color: #aaa }
.filter-page .main-box .left-box .name { font-size: 20px }
@media (max-width: 767px) { .filter-page .main-box .left-box, .filter-page .main-box .right-box { border: none } }
@media (max-width: 767px) { .filter-page .main-box .left-box { border-top: 1px solid #999; padding-top: 10px; margin-top: 10px; } }